<div class="user-details-container">
  <h2 i18n="@@welcomeMessage">Welcome, {{ userDetails?.name }}!</h2>
  <p i18n="@@usernameLabel">Username: {{ userDetails?.username }}</p>
  <p i18n="@@roleLabel">Role: {{ userDetails?.role }}</p>
  <button class="btn btn-logout" (click)="logout()" i18n="@@logoutButton">Logout</button>
  <div *ngIf="userDetails?.role === 'manager'">
    <a class="btn btn-manager" [routerLink]="['/', 'manager']" i18n="@@managerDashboardLink">Access Manager Dashboard</a>
  </div>
</div>